body {
    font-family: sans-serif;
  }
  
table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
	vertical-align: middle;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }

  .head {
    background-color: red;
  font-weight: bold;
  color: white;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  tbody th {
    background-color: #36c;
    color: #fff;
    text-align: left;
  }
  
  tbody tr:nth-child(even) th {
    background-color: #25c;
  }
 
